.nav-container{
    width: 100%;
    min-height: 40px;
    background-color: var(--primary);
    display: flex;
    gap: 7vmin;
    align-items: center;
    padding: 0 1rem;
    justify-content: flex-end;
    padding-right: 4rem;
    user-select: none;
}
.nav-container .brand{
    color: white;
    flex: 1;
}
.nav-container a{
    color: white;
}
.nav-container a:hover{
    color: whitesmoke;
    background-color: var(--secondary);
}
.nav-container a:active{
    background-color: var(--secondary);
}

.nav-container a.active{
    border-bottom: 3px solid white;
    font-weight: bold;
}